Repository beanbeanjuice/cafeBot, pull requests merged in 2023-05, with the labels that each got.

#561 Fix /vent Error Message
  src/main/java/com/beanbeanjuice/command/social/VentCommand.java
  src/main/resources/logback.xml
Labels: bug, small

#567 Updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, small

#574 Renamed the 8 Ball Command
  README-small.md
  README.md
  src/main/java/com/beanbeanjuice/command/fun/EightBallCommand.java
  src/main/java/com/beanbeanjuice/utility/command/CommandHandler.java
Labels: small, improvement

#573 Fixed the /whois Command Always Thinking
  README-small.md
  README.md
  src/main/java/com/beanbeanjuice/command/generic/WhoIsCommand.java
  src/main/java/com/beanbeanjuice/utility/command/CommandHandler.java
Labels: bug, small

#571 Fixed Avatar Command Always Thinking
  src/main/java/com/beanbeanjuice/command/fun/AvatarCommand.java
Labels: bug, small

#570 Fixed Commands Run After Restart
  src/main/java/com/beanbeanjuice/command/generic/PingCommand.java
  src/main/java/com/beanbeanjuice/command/generic/StatsCommand.java
  src/main/java/com/beanbeanjuice/utility/helper/Helper.java
Labels: small, improvement

#568 Revamped Issue Requests
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/improvement-request.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  CONTRIBUTING.md
Labels: documentation, small

#565 Integration v3.1.4
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/improvement-request.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  CONTRIBUTING.md
  README-small.md
  README.md
  pom.xml
  src/main/java/com/beanbeanjuice/command/cafe/DonateBeanCoinsCommand.java
  src/main/java/com/beanbeanjuice/command/fun/AvatarCommand.java
  src/main/java/com/beanbeanjuice/command/fun/EightBallCommand.java
  src/main/java/com/beanbeanjuice/command/generic/PingCommand.java
  src/main/java/com/beanbeanjuice/command/generic/StatsCommand.java
  src/main/java/com/beanbeanjuice/command/generic/WhoIsCommand.java
  src/main/java/com/beanbeanjuice/command/social/VentCommand.java
  src/main/java/com/beanbeanjuice/utility/command/CommandHandler.java
  src/main/java/com/beanbeanjuice/utility/helper/Helper.java
  src/main/java/com/beanbeanjuice/utility/listener/AIResponseListener.java
  src/main/java/com/beanbeanjuice/utility/listener/MessageListener.java
  src/main/java/com/beanbeanjuice/utility/listener/WelcomeListener.java
  src/main/java/com/beanbeanjuice/utility/section/twitch/TwitchHandler.java
  src/main/java/com/beanbeanjuice/utility/section/twitch/TwitchListener.java
  src/main/java/com/beanbeanjuice/utility/section/twitch/TwitchMessageEventHandler.java
  src/main/resources/logback.xml
Labels: bug, feature, improvement
